@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
  }

  /* Catppuccin Macchiato Dark Theme */
  .dark:root {
    /* Semantic colors */
    --background: 232 23% 18%;
    --foreground: 227 68% 88%;
    --card: 230 19% 26%;
    --card-foreground: 227 68% 88%;
    --popover: 232 23% 15%;
    --popover-foreground: 227 68% 88%;
    --primary: 234 82% 85%;
    --primary-foreground: 232 23% 18%;
    --secondary: 230 19% 26%;
    --secondary-foreground: 227 68% 88%;
    --muted: 230 19% 26%;
    --muted-foreground: 228 39% 72%;
    --accent: 267 83% 80%;
    --accent-foreground: 232 23% 18%;
    --destructive: 351 74% 73%;
    --destructive-foreground: 232 23% 18%;
    --border: 231 16% 34%;
    --input: 231 16% 34%;
    --ring: 234 82% 85%;

    /* Catppuccin Accent Colors */
    --rosewater: 10 58% 90%;
    --flamingo: 0 58% 86%;
    --pink: 316 74% 84%;
    --mauve: 267 83% 80%;
    --red: 351 74% 73%;
    --maroon: 355 71% 77%;
    --peach: 21 86% 73%;
    --yellow: 40 70% 78%;
    --green: 105 48% 72%;
    --teal: 171 47% 69%;
    --sky: 189 59% 73%;
    --sapphire: 199 66% 69%;
    --blue: 220 83% 75%;
    --lavender: 234 82% 85%;

    /* Catppuccin Neutral Colors */
    --text-light: 230 74% 93%;
    --text: 227 68% 88%;
    --subtext1: 228 39% 80%;
    --subtext0: 228 39% 72%;
    --overlay2: 228 17% 66%;
    --overlay1: 228 15% 57%;
    --overlay0: 230 12% 49%;
    --surface2: 230 14% 41%;
    --surface1: 231 16% 34%;
    --surface0: 230 19% 26%;
    --base: 232 23% 18%;
    --mantle: 233 22% 15%;
    --crust: 236 23% 12%;
  }
}
